{{ "<!-- THANKS -->" | safeHTML }}
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
{{ partial "head.html" . }}
</head>
   <section class="bg-light" id="thanks">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">{{ with .Site.Params.thanks.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p class="text-center">{{ with .Site.Params.thanks.description }}{{ . | markdownify }}{{ end }}</p>
            <a href="/#page-top" class="btn btn-primary btn-xl ">{{ with .Site.Params.thanks.buttontext }}{{ . }}{{ end }}</a>
        </div>
    </div>
</section>

</html>



